
  <!--- Navbar --->
  <div class="bg-image">
	<nav class="navbar navbar-expand-lg">
      <a class="navbar-brand logo-icon text-white" href="#"><i class="fa fa-hotdog fa-lg mr-2"></i>FoodHub</a>

			<div class="collapse navbar-collapse container-item" id="nvbCollapse">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item pl-1 dropdown">
            <a class="nav-link " href="#" id="navbardrop" >Home</a>
            <div class="dropdown-content ">
              <a class="dropdown-item" href="#">Link 1</a>
              <a class="dropdown-item" href="#">Link 2</a>
              <a class="dropdown-item" href="#">Link 3</a>
            </div>
					</li>
          <li class="nav-item pl-1 dropdown">
            <a class="nav-link " href="#" id="navbardrop" >Recipes</a>
            <div class="dropdown-content ">
              <a class="dropdown-item" href="#">Link 1</a>
              <a class="dropdown-item" href="#">Link 2</a>
              <a class="dropdown-item" href="#">Link 3</a>
            </div>
					</li>

          <li class="nav-item pl-1 dropdown">
            <a class="nav-link " href="#" id="navbardrop" >Pages</a>
            <div class="dropdown-content ">
              <a class="dropdown-item" href="#">Link 1</a>
              <a class="dropdown-item" href="#">Link 2</a>
              <a class="dropdown-item" href="#">Link 3</a>
            </div>
          </li>


          <li class="nav-item pl-1 dropdown">
            <a class="nav-link " href="#" id="navbardrop" >Blog</a>
            <div class="dropdown-content ">
              <a class="dropdown-item" href="#">Link 1</a>
              <a class="dropdown-item" href="#">Link 2</a>
              <a class="dropdown-item" href="#">Link 3</a>
            </div>
          </li>


          <li class="nav-item pl-1 dropdown">
            <a class="nav-link " href="#" id="navbardrop" >Shop</a>
            <div class="dropdown-content ">
              <a class="dropdown-item" href="#">Link 1</a>
              <a class="dropdown-item" href="#">Link 2</a>
              <a class="dropdown-item" href="#">Link 3</a>
            </div>
          </li>

          <li class="nav-item pl-1 dropdown">
            <a class="nav-link " href="#" id="navbardrop" >Shortcodes</a>
            <div class="dropdown-content ">
              <a class="dropdown-item" href="#">Link 1</a>
              <a class="dropdown-item" href="#">Link 2</a>
              <a class="dropdown-item" href="#">Link 3</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-search navbar-brand " href="#"><i class="fa fa-search fa-lg mr-2" id="icon"></i></a>
          </li>
          <li class="nav-item">
          <a class="nav-login navbar-brand " href="#"><i class="fa fa-user-plus fa-lg mr-2" id="icon"></i></a>
        </li>
        <li class="nav-item shop_cart_li">
          <a class="shop_cart navbar-brand " href="#"><i class="fa fa-shopping-cart fa-lg mr-2" id="icon"></i></a>
        </li>
        <li class="nav-item">
            <div class="wrapper">
              <a href="#" class="button-style"><span>Hover Me!</span></a>
            </div>
      </li>
				</ul>
      </div>
	</nav>
  <!--# Navbar #-->
  <main>
    <section id="content" class="content">
      <div class="container">
        <div class="row">
         <p>It is even better than<br> an expensive cookery book</p>
        </div>
        <div class="row1">
          <p>Learn how to make your favorite restaurant's dishes</p>
         </div>
         <div class="container-search">
           <div class="search-input">
             <input class="ipt-search" type="search" placeholder="I want to make..." >
           </div>
           <div class="search-select">
            <select class="select-items selectpicker form-control" name="part" data-live-search="true" required>
              <option >Categories</option>
              <option data-tokens="Burgers">Burgers</option>
              <option data-tokens="Drinks">Drinks</option>
              <option data-tokens="Pizzas">Pizzas</option>
              <option data-tokens="Salads">Salads</option>
              <option data-tokens="Seafood">Seafood</option>
              <option data-tokens="Sweets">Sweets</option>
            </select>

          </div>
           <div class="submit-btn">
             <button type="submit" class="btn-search">
               <i class="fa fa-search"></i>
             </button>
           </div>
         </div>
      </div>
    </section>
  </main>

</div>

